<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SQL" connectionString="Database=hp;Server=192.186.0.130;User Id=sa; password= ham66@amm" providerName="System.Data.SqlClient"/>  
    <add name="ConnectionString" connectionString="Data Source=dev11g; User Id=ats3;Password=dev2;" providerName="System.Data.OracleClient" />
  </connectionStrings>

  <appSettings>
    <add key="XmlLogDirectoryLocation" value="C:\XML_Log\Entity"/>
    <add key="XmlErrorLogDirectoryLocation" value="C:\XML_Log\Error"/>
    <add key="XmlLostLogDirectoryLocation" value="C:\XML_Log\Lost"/>
  </appSettings>
</configuration>